<h1 id="portal">Parent Portal Login</h1>
<form action="/login" id="login_form" method="Post">
  <p>Login</p>
  <div>

    <label for="email">Email address</label>
    <input type="text" name="email" id="email" value="" placeholder="email address"/>
  </div><br/>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" value="" placeholder="password"/>
  </div><br/>
  <input type="submit" value="Submit">

</form>