<h1 id="portal">Parent Portal Sign Up</h1>
       
      <div id="sign-up">
            <form action="/signup" id="signup_form" method="Post">

      <div>
            <p>Sign Up</p>
            <div>
                  <label for="Username">Username</label>
                  <input type="text" id="username" value="" placeholder="username"/></div><br/>

            <div>
                  <label for="email">Email address</label>
                  <input type="text" name="email" id="email" value="" placeholder="email address"/>
            </div><br/>

            <div>
                  <label for="password">Password</label>
                  <input type="text" id="password" value="" placeholder="password"/></div><br/>

            <div>
                  <label for="confirm_password">Confirm Password</label>
                  <input type="text" id="confirm_password" value="" placeholder="confirm password"/></div><br/>

            <div>
                  <input type="submit" id="submit" value="Submit"</div><br/>

</form>